<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestTenetTV">
    <test name="ChromeTest">
        <classes>
            <class name="TeslLoginPage"/>
            <class name="TestChannels"/>
            <class name="TestNegativeLogin"/>
        </classes>
    </test>
</suite>